<div ng-if="_isReady"
     class="cozen-btn"
     ng-class="_methods.getMainClass();"
     id="{{ _cozenBtnId }}"
     ng-click="_methods.onClick($event)">

    <!-- Left icon -->
    <div ng-if="_cozenBtnIconLeft != '' && !cozenBtnLoader"
         class="cozen-btn-icon">
        <i ng-class="[_cozenBtnIconLeft]"></i>
    </div>

    <!-- Label -->
    <span ng-if="!cozenBtnLoader"
          class="cozen-btn-label">
        {{ _cozenBtnLabel | translate }}
    </span>

    <!-- Right icon -->
    <div ng-if="_cozenBtnIconRight != '' && !cozenBtnLoader"
         class="cozen-btn-icon">
        <i ng-class="[_cozenBtnIconRight]"></i>
    </div>

    <!-- Loader -->
    <div ng-if="cozenBtnLoader"
         class="cozen-btn-loader">
        <span></span>
    </div>
</div>
