<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <cozen-form cozen-form-name="lool">
                <cozen-input cozen-input-model="dada"></cozen-input>
            </cozen-form>
            <cozen-dropdown>
                <cozen-dropdown-item-simple cozen-dropdown-item-simple-label="Un label"></cozen-dropdown-item-simple>
                <cozen-dropdown-item-simple cozen-dropdown-item-simple-label="Un label"></cozen-dropdown-item-simple>
                <cozen-dropdown-item-simple cozen-dropdown-item-simple-label="Un label"></cozen-dropdown-item-simple>
            </cozen-dropdown>
        </div>
    </div>
</div>
