/************/
/*   SIZE   */
/************/
.cozen-dropdown-item-simple-size(@font-size, @padding, @padding-when-group) {
  .cozen-dropdown-item.cozen-dropdown-item-simple {
    font-size: @font-size;
    padding:   @padding;
    div.cozen-dropdown-item-simple-content {
      & > div.cozen-dropdown-item-simple-icon.left {
        margin-right: @font-size / 6;
      }
    }
  }
  div.cozen-dropdown-item-group-transclude {
    .cozen-dropdown-item.cozen-dropdown-item-simple {

      padding: @padding-when-group;
    }
  }
}
/*************/
/*   COLOR   */
/*************/
.cozen-dropdown-item-simple-color(@color, @color-hover, @background-color, @background-color-hover) {
  .cozen-dropdown-item.cozen-dropdown-item-simple {
    color:            @color;
    background-color: @background-color;
    &.active,
    &:focus {
      color:            @color-hover;
      background-color: @background-color-hover;
    }
    &.disabled {
      &:focus {
        color:            @color;
        background-color: @background-color;
      }
    }
  }
}
/*****************/
/*   SUB-COLOR   */
/*****************/
.cozen-dropdown-item-simple-sub-color(@color, @color-hover) {
  .cozen-dropdown-item.cozen-dropdown-item-simple {
    div.cozen-dropdown-item-simple-content {
      span.cozen-dropdown-item-simple-label small {
        color: @color;
        &.active,
        &:focus {
          color: @color-hover;
        }
        &.disabled {
          color: @color;
        }
      }
    }
  }
}
