div.cozen-btn-check {
  cursor:         pointer;
  transition:     @cozen-transition;
  box-sizing:     border-box;
  position:       relative;
  outline:        @cozen-outline;
  vertical-align: baseline;
  display:        flex;
  flex-direction: row;
  align-content:  flex-start;
  align-items:    center;

  // Label
  & label.cozen-btn-check-label {
    cursor: inherit;
  }

  // Square
  & div.cozen-btn-check-square {
    position:       relative;
    transition:     @cozen-transition;
    border-radius:  @cozen-radius;
    display:        inline-block;
    cursor:         inherit;
    vertical-align: middle;
    & i.cozen-btn-check-inner {
      cursor:  inherit;
      display: table;
      &.bounceOut,
      &.bounceIn {
        animation-fill-mode: @cozen-animation-fill;
      }
      &.bounceOut {
        animation-duration: @cozen-animation-duration-out;
      }
      &.bounceIn {
        animation-duration: @cozen-animation-duration-in;
      }
    }
  }

  // Disabled
  &.disabled {
    opacity:     0.4;
    cursor:      not-allowed;
    user-select: none;
  }
}
