<div class="container">
    <div class="row tau">
        <div class="col-xs-12">
            <p>
                Choix 1:
                <cozen-btn-radio cozen-btn-radio-model="vm.model1">
                </cozen-btn-radio>
            </p>
            <p>
                Choix 2:
                <cozen-btn-radio cozen-btn-radio-model="vm.model2">
                </cozen-btn-radio>
            </p>
            <p>
                Choix 3:
                <cozen-btn-radio cozen-btn-radio-model="vm.model3">
                </cozen-btn-radio>
            </p>
        </div>
        <div class="col-xs-12">
            <p>
                Disabled:
                <cozen-btn-radio cozen-btn-radio-model="false"
                                 cozen-btn-radio-disabled="true">
                </cozen-btn-radio>
            </p>
            <p>
                Small:
                <cozen-btn-radio cozen-btn-radio-model="false"
                                 cozen-btn-radio-size-small>
                </cozen-btn-radio>
            </p>
            <p style="font-size: 20px;">
                Large:
                <cozen-btn-radio cozen-btn-radio-model="false"
                                 cozen-btn-radio-size-large>
                </cozen-btn-radio>
            </p>
            <p>
                Tooltip small:
                <cozen-tooltip cozen-tooltip-label="Un tooltip !">
                    <cozen-btn-radio cozen-btn-radio-model="false"
                                     cozen-btn-radio-size-small>
                    </cozen-btn-radio>
                </cozen-tooltip>
            </p>
            <p>
                Tooltip normal:
                <cozen-tooltip cozen-tooltip-label="Un tooltip !">
                    <cozen-btn-radio cozen-btn-radio-model="false">
                    </cozen-btn-radio>
                </cozen-tooltip>
            </p>
            <p>
                Tooltip large:
                <cozen-tooltip cozen-tooltip-label="Un tooltip !">
                    <cozen-btn-radio cozen-btn-radio-model="false"
                                     cozen-btn-radio-size-large>
                    </cozen-btn-radio>
                </cozen-tooltip>
            </p>
            <p>
                In/out false:
                <cozen-btn-radio cozen-btn-radio-model="false"
                                 cozen-btn-radio-animation-in="false"
                                 cozen-btn-radio-animation-out="false">
                </cozen-btn-radio>
            </p>
        </div>
    </div>
</div>
