<div class="container">
    <div class="row tau">
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="vm.model1"
                             cozen-btn-radio-label="Model 1"
                             cozen-btn-radio-group="models">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="vm.model2"
                             cozen-btn-radio-label="Model 2"
                             cozen-btn-radio-group="models">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="vm.model3"
                             cozen-btn-radio-label="Model 3"
                             cozen-btn-radio-group="models">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="false"
                             cozen-btn-radio-disabled="true"
                             cozen-btn-radio-label="Disabled"
                             cozen-btn-radio-group="test">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="true"
                             cozen-btn-radio-disabled="true"
                             cozen-btn-radio-label="Disabled"
                             cozen-btn-radio-group="teszefzet">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="false"
                             cozen-btn-radio-size-small
                             cozen-btn-radio-label="Small"
                             cozen-btn-radio-group="test">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="false"
                             cozen-btn-radio-size-large
                             cozen-btn-radio-label="Large"
                             cozen-btn-radio-group="test">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="false"
                             cozen-btn-radio-animation-in="false"
                             cozen-btn-radio-animation-out="false"
                             cozen-btn-radio-label="In/out false"
                             cozen-btn-radio-group="test">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="false"
                             cozen-btn-radio-animation-in="false"
                             cozen-btn-radio-label="In false"
                             cozen-btn-radio-group="test">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="false"
                             cozen-btn-radio-animation-out="false"
                             cozen-btn-radio-label="out false"
                             cozen-btn-radio-group="test">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-id="test-radio"
                             cozen-btn-radio-model="false"
                             cozen-btn-radio-label="My label"
                             cozen-btn-radio-size-small
                             cozen-btn-radio-group="test1">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-id="test-radio"
                             cozen-btn-radio-model="false"
                             cozen-btn-radio-label="My label"
                             cozen-btn-radio-group="test1">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-id="test-radio"
                             cozen-btn-radio-model="false"
                             cozen-btn-radio-label="My label"
                             cozen-btn-radio-size-large
                             cozen-btn-radio-group="test1">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-id="test-radio"
                             cozen-btn-radio-model="true"
                             cozen-btn-radio-label="My label"
                             cozen-btn-radio-size-small
                             cozen-btn-radio-group="test2"
                             cozen-btn-radio-animation-in="false"
                             cozen-btn-radio-animation-out="false">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-id="test-radio"
                             cozen-btn-radio-model="false"
                             cozen-btn-radio-label="My label"
                             cozen-btn-radio-group="test2"
                             cozen-btn-radio-animation-in="false"
                             cozen-btn-radio-animation-out="false">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-id="test-radio"
                             cozen-btn-radio-model="false"
                             cozen-btn-radio-label="My label"
                             cozen-btn-radio-size-large
                             cozen-btn-radio-group="test2"
                             cozen-btn-radio-animation-in="false"
                             cozen-btn-radio-animation-out="false">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="false"
                             cozen-btn-radio-label="My label"
                             cozen-btn-radio-group="test2"
                             cozen-btn-radio-tooltip="Un tooltip !">
            </cozen-btn-radio>
        </div>
        <div class="col-xs-12">
            <cozen-btn-radio cozen-btn-radio-model="false"
                             cozen-btn-radio-label="My label"
                             cozen-btn-radio-group="test2"
                             cozen-btn-radio-start-right="false">
            </cozen-btn-radio>
        </div>
    </div>
</div>
