<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <cozen-pills>
        <cozen-pills-item-simple cozen-pills-item-simple-label="Onglet 1"></cozen-pills-item-simple>
        <cozen-pills-item-simple cozen-pills-item-simple-label="Onglet 2"></cozen-pills-item-simple>
        <cozen-pills-item-simple cozen-pills-item-simple-label="Onglet 3"></cozen-pills-item-simple>
      </cozen-pills>
    </div>
      <div class="col-xs-12">
          <cozen-pills cozen-pills-auto-update-model="false">
              <cozen-pills-item-simple cozen-pills-item-simple-label="Onglet 1"></cozen-pills-item-simple>
              <cozen-pills-item-simple cozen-pills-item-simple-label="Onglet 2"></cozen-pills-item-simple>
              <cozen-pills-item-simple cozen-pills-item-simple-label="Onglet 3"></cozen-pills-item-simple>
          </cozen-pills>
      </div>
  </div>
</div>
