@-webkit-keyframes tauLightUp {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes tauLightUp {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity:   0;
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity:   0;
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  animation-name: zoomIn;
}
@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity:   0;
    transform: scale3d(.3, .3, .3);
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity:   0;
    transform: scale3d(.3, .3, .3);
  }
  to {
    opacity: 0;
  }
}
.zoomOut {
  animation-name: zoomOut;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity:   0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity:   1;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity:   0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity:   1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDownBig {
  from {
    opacity:   0;
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity:   1;
    transform: none;
  }
}
