<div ng-if="_isReady"
     class="cozen-input"
     ng-class="_methods.getMainClass()"
     id="{{ _cozenInputId }}">

    <div ng-if="_cozenInputLabel != ''"
         class="cozen-input-label">

        <!-- Label -->
        <label for="{{ _cozenInputUuid }}"
               class="label">
            {{ _cozenInputLabel | translate }}
        </label>

        <!-- Required star -->
        <label ng-if="_cozenInputRequired && _cozenInputRequiredConfig.type == 'star'"
               class="required-star">
            *
        </label>

        <!-- Required icon -->
        <label ng-if="_cozenInputRequired && _cozenInputRequiredConfig.type == 'icon'"
               class="required-icon">
            <cozen-tooltip cozen-tooltip-label="_cozenInputRequiredTooltip"
                           cozen-tooltip-display="block"
                           cozen-tooltip-disabled="_cozenInputRequiredTooltip == ''">
                <i class="{{ _cozenInputRequiredConfig.icon }}"></i>
            </cozen-tooltip>
        </label>

        <!-- Model length -->
        <label ng-if="_cozenInputDisplayModelLength && vm.cozenInputModel.length > 0"
               class="model-length"
               ng-class="{'error': _cozenInputModelLength < 0}">
            {{ _cozenInputModelLength }}
        </label>
    </div>

    <!-- Tooltip -->
    <cozen-tooltip cozen-tooltip-label="_cozenInputTooltip"
                   cozen-tooltip-trigger="{{ _cozenInputTooltipTrigger }}"
                   cozen-tooltip-display="block"
                   cozen-tooltip-type="{{ _cozenInputTooltipType }}"
                   cozen-tooltip-placement="{{ _cozenInputTooltipPlacement }}"
                   cozen-tooltip-disabled="_cozenInputTooltip == ''">

        <div class="cozen-input-content">

            <!-- Left icon -->
            <div ng-if="_cozenInputIconLeft != ''"
                 class="cozen-input-icon left">
                <i ng-class="[_cozenInputIconLeft]"></i>
            </div>

            <!-- Input -->
            <input ng-model="vm.cozenInputModel"
                   ng-required="_cozenInputRequired"
                   ng-change="_methods.onChange($event);"
                   type="{{ _cozenInputType }}"
                   ng-disabled="vm.cozenInputDisabled"
                   placeholder="{{ _cozenInputPlaceholder | translate }}"
                   min="{{ _cozenInputMin }}"
                   max="{{ _cozenInputMax }}"
                   ng-minlength="_cozenInputMinLength"
                   ng-maxlength="_cozenInputMaxLength"
                   name="{{ _cozenInputName }}"
                   ng-pattern="_cozenInputPatternRegExp"
                   autocomplete="{{ _cozenInputAutoComplete }}"
                   onfocus="this.removeAttribute('readonly');"
                   readonly
                   ng-model-options="{allowInvalid: true}"
                   id="{{ _cozenInputUuid }}"
                   spellcheck="{{ _cozenInputSpellCheck }}">

            <!-- Arrow up/down -->
            <div ng-if="_cozenInputType == 'number'"
                 class="cozen-input-arrows">
                <div class="cozen-input-arrow up"
                     ng-mousedown="_methods.onArrowDown($event, 'up')"
                     ng-mouseup="_methods.onArrowUp($event)">
                    <div></div>
                </div>
                <div class="cozen-input-arrow down"
                     ng-mousedown="_methods.onArrowDown($event, 'down')"
                     ng-mouseup="_methods.onArrowUp($event)">
                    <div></div>
                </div>
            </div>

            <!-- Right icon -->
            <div ng-if="_methods.isIconRightDisplay()"
                 class="cozen-input-icon right">
                <i ng-class="_methods.getIconRightClass()"></i>
            </div>
        </div>
    </cozen-tooltip>
</div>
