div.cozen-btn-lazy-test {
    position            : fixed;
    cursor              : pointer;
    border-radius       : @cozen-radius;
    outline             : @cozen-outline;
    z-index             : 1100;
    animation-fill-mode : @cozen-animation-fill;
    animation-duration  : @cozen-animation-duration-in;
    span.text {
        color     : inherit;
        font-size : inherit;
    }
}