<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-small
                       cozen-btn-type-default>
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-normal
                       cozen-btn-type-info>
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-large
                       cozen-btn-type-success>
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-large
                       cozen-btn-type-warning>
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-large
                       cozen-btn-type-error>
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-small
                       cozen-btn-type-default
                       cozen-btn-active="true">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-small
                       cozen-btn-type-default
                       cozen-btn-disabled="true">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-small
                       cozen-btn-type-default
                       cozen-btn-icon-left="fa fa-times">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-small
                       cozen-btn-type-default
                       cozen-btn-icon-right="fa fa-times">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-small
                       cozen-btn-type-default
                       cozen-btn-loader="true">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-normal
                       cozen-btn-type-default
                       cozen-btn-loader="true">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-large
                       cozen-btn-type-default
                       cozen-btn-loader="true">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-large
                       cozen-btn-type-success
                       cozen-btn-loader="true">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-size-large
                       cozen-btn-type-success
                       cozen-btn-auto-sizing>
            </cozen-btn>
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-auto-sizing>
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-loader="true"
                       cozen-btn-size-small
                       cozen-btn-auto-sizing>
            </cozen-btn>
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-loader="true"
                       cozen-btn-auto-sizing>
            </cozen-btn>
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-loader="true"
                       cozen-btn-size-large
                       cozen-btn-auto-sizing>
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-loader="true">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-type-google
                       cozen-btn-size-small
                       cozen-btn-img-left="http://res.cloudinary.com/cozen/image/upload/v1484080276/google-logo_krmlzg.png">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-type-google
                       cozen-btn-size-normal
                       cozen-btn-img-left="http://res.cloudinary.com/cozen/image/upload/v1484080276/google-logo_krmlzg.png">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-type-google
                       cozen-btn-size-large
                       cozen-btn-img-left="http://res.cloudinary.com/cozen/image/upload/v1484080276/google-logo_krmlzg.png">
            </cozen-btn>
        </div>
        <div class="col-xs-12">
            <cozen-btn cozen-btn-label="Un label"
                       cozen-btn-type-google
                       cozen-btn-size-normal
                       cozen-btn-auto-sizing="true"
                       cozen-btn-img-left="http://res.cloudinary.com/cozen/image/upload/v1484080276/google-logo_krmlzg.png">
            </cozen-btn>
        </div>
    </div>
</div>
