<div class="container">
    <div class="row">
        <cozen-form cozen-form-name="color"
                    cozen-form-ctrl="vm"
                    cozen-form-model="form">
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Cold'"
                           cozen-btn-type-cold>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Default'"
                           cozen-btn-type-default>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Error'"
                           cozen-btn-type-error>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Green'"
                           cozen-btn-type-green>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Info'"
                           cozen-btn-type-info>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Primary'"
                           cozen-btn-type-primary>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Purple'"
                           cozen-btn-type-purple>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Success'"
                           cozen-btn-type-success>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Transparent'"
                           cozen-btn-type-transparent>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Warning'"
                           cozen-btn-type-warning>
                </cozen-btn>
            </div>
            <div class="col-xs-12">
                <cozen-btn cozen-btn-label="'Upload'"
                           cozen-btn-upload-required="true"
                           cozen-btn-upper-label="Upload label"
                           cozen-btn-is-upload="true"
                           cozen-btn-upload-model="nada">
                </cozen-btn>
            </div>
        </cozen-form>
    </div>
</div>