<div class="container">
    <div class="row">
        <div class="col-xs-12">
            Look at the console to see the test

            <cozen-test-error cozen-test-error-boolean=""
                              >
            </cozen-test-error>
            <cozen-test-error cozen-test-error-boolean=""
                              cozen-test-error-name="">
            </cozen-test-error>
            <cozen-test-error cozen-test-error-name="First">
            </cozen-test-error>
            <cozen-test-error cozen-test-error-boolean=""
                              cozen-test-error-name="Second">
            </cozen-test-error>
            <cozen-test-error cozen-test-error-boolean="vm.True"
                              cozen-test-error-name="Third">
            </cozen-test-error>
            <cozen-test-error cozen-test-error-boolean="true"
                              cozen-test-error-name="4">
            </cozen-test-error>
        </div>
    </div>
</div>
