<div class="container">
  <cozen-form cozen-form-name="test">
    <div class="row">
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model50"
                        cozen-textarea-required="true"
                        cozen-textarea-required-tooltip="Champ requis !"
                        cozen-textarea-label="Un label">
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model51"
                        cozen-textarea-required="true"
                        cozen-textarea-label="Un label">
        </cozen-textarea>
      </div>
      <div class="col-xs-12"
           ng-if="true">
        <cozen-textarea cozen-textarea-model="vm.model0"></cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model0"
                        cozen-textarea-tooltip="Un tooltip !">
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model0"
                        cozen-textarea-tooltip="Un tooltip !"
                        cozen-textarea-tooltip-trigger="mouseenter">
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model0"
                        cozen-textarea-required="true">
        </cozen-textarea>
      </div>
      <pre>{{ vm.model3 }}</pre>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model3"
                        cozen-textarea-disabled="true">
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model4"
                        cozen-textarea-placeholder="Un placeholder">
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model7"
                        cozen-textarea-min-length="10"
                        cozen-textarea-max-length="20">
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model8"
                        cozen-textarea-size-small>
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model8"
                        cozen-textarea-size-normal>
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model8"
                        cozen-textarea-size-large>
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model9"
                        cozen-textarea-error-design="false">
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model10"
                        cozen-textarea-required="true"
                        cozen-textarea-validator-all>
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model10"
                        cozen-textarea-required="true"
                        cozen-textarea-validator-touched>
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model10"
                        cozen-textarea-required="true"
                        cozen-textarea-validator-dirty>
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model10"
                        cozen-textarea-required="true"
                        cozen-textarea-validator-empty="false"
                        cozen-textarea-validator-all>
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model10"
                        cozen-textarea-required="true"
                        cozen-textarea-validator-empty="false"
                        cozen-textarea-validator-touched>
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model101"
                        cozen-textarea-elastic="true">
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model10"
                        cozen-textarea-required="true"
                        cozen-textarea-validator-empty="false"
                        cozen-textarea-validator-dirty>
        </cozen-textarea>
      </div>
      <div class="col-xs-12">
        <cozen-textarea cozen-textarea-model="vm.model11"
                        cozen-textarea-elastic="true">
        </cozen-textarea>
      </div>
    </div>
  </cozen-form>
</div>
