<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <cozen-input cozen-input-model="lol"></cozen-input>
        </div>
        <div class="col-xs-12">
            <cozen-input cozen-input-model="lol"
                         cozen-input-tooltip="Un tooltip !">
            </cozen-input>
        </div>
        <div class="col-xs-12">
            <cozen-input cozen-input-model="lol"
                         cozen-input-tooltip="Un tooltip !"
                         cozen-input-tooltip-trigger="mouseenter">
            </cozen-input>
        </div>
    </div>
</div>
