<div class="container">
    <cozen-form cozen-form-name="test"
                cozen-form-ctrl="vm"
                cozen-form-model="form">
        <div class="row">
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.searchValue"
                             cozen-input-size-small
                             cozen-input-name="search"
                             cozen-input-success-design="false"
                             cozen-input-error-design="false"
                             cozen-input-icon-left="fa fa-search"
                             cozen-input-placeholder="chat_search_placeholder"
                             cozen-input-auto-complete="off">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="'zfzfze'"
                             cozen-input-label="Un label">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model50"
                             cozen-input-required="true"
                             cozen-input-required-tooltip="Champ requis !"
                             cozen-input-label="Un label">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model50"
                             cozen-input-required="true"
                             cozen-input-label="Un label">
                </cozen-input>
            </div>
            <div class="col-xs-12"
                 ng-if="true">
                <cozen-input cozen-input-model="vm.model0"></cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model0"
                             cozen-input-tooltip="Un tooltip !">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model0"
                             cozen-input-tooltip="Un tooltip !"
                             cozen-input-tooltip-trigger="mouseenter">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model0"
                             cozen-input-required="true">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model1"
                             cozen-input-required="true"
                             cozen-input-prefix="prefix-">
                </cozen-input>
            </div>
            <pre>{{ vm.model1 }}</pre>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model2"
                             cozen-input-required="true"
                             cozen-input-suffix="-suffix">
                </cozen-input>
            </div>
            <pre>{{ vm.model2 }}</pre>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model3"
                             cozen-input-required="true"
                             cozen-input-prefix="prefix-"
                             cozen-input-suffix="-suffix">
                </cozen-input>
            </div>
            <pre>{{ vm.model3 }}</pre>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model3"
                             cozen-input-disabled="true">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model4"
                             cozen-input-placeholder="Un placeholder">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model5"
                             cozen-input-min="10"
                             cozen-input-max="20">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model7"
                             cozen-input-min-length="10"
                             cozen-input-max-length="20">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model8"
                             cozen-input-size-small>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model8"
                             cozen-input-size-normal>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model8"
                             cozen-input-size-large>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model9"
                             cozen-input-size-small
                             cozen-input-icon-left="fa fa-search"
                             cozen-input-icon-right="fa fa-search">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model9"
                             cozen-input-icon-left="fa fa-search"
                             cozen-input-icon-right="fa fa-search">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model9"
                             cozen-input-size-large
                             cozen-input-icon-left="fa fa-search"
                             cozen-input-icon-right="fa fa-search">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model9"
                             cozen-input-error-design="false">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model10"
                             cozen-input-required="true"
                             cozen-input-validator-all>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model10"
                             cozen-input-required="true"
                             cozen-input-validator-touched>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model10"
                             cozen-input-required="true"
                             cozen-input-validator-dirty>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model10"
                             cozen-input-required="true"
                             cozen-input-validator-empty="false"
                             cozen-input-validator-all>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model10"
                             cozen-input-required="true"
                             cozen-input-validator-empty="false"
                             cozen-input-validator-touched>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model10"
                             cozen-input-required="true"
                             cozen-input-validator-empty="false"
                             cozen-input-validator-dirty>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model10"
                             cozen-input-required="true"
                             cozen-input-pattern-email
                             cozen-input-validator-all>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model10"
                             cozen-input-required="true"
                             cozen-input-pattern-letter
                             cozen-input-validator-all>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model11"
                             cozen-input-size-small
                             cozen-input-type-number>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model12"
                             cozen-input-size-normal
                             cozen-input-type-number>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model13"
                             cozen-input-size-large
                             cozen-input-type-number>
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model14"
                             cozen-input-type-number
                             cozen-input-min="10"
                             cozen-input-max="20">
                </cozen-input>
            </div>
            <pre>{{ vm.model14 }}</pre>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model15"
                             cozen-input-type-number
                             cozen-input-disabled="true">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model16"
                             cozen-input-icon-left="fa fa-search"
                             cozen-input-icon-right="fa fa-search"
                             cozen-input-disabled="true">
                </cozen-input>
            </div>
            <div class="col-xs-12">
                <cozen-input cozen-input-model="vm.model17"
                             cozen-input-required="true"
                             cozen-input-type-password-config="vm.passwordConfig"
                             cozen-input-auto-complete="off"
                             cozen-input-tooltip="true"
                             cozen-input-tooltip-placement="auto bottom"
                             cozen-input-type-password>
                </cozen-input>
            </div>
            <pre>{{ vm.passwordConfig }}</pre>
        </div>
    </cozen-form>
</div>
