<div ng-if="_isReady && _cozenDropdownSearch.length > 0"
     class="cozen-dropdown-item cozen-dropdown-item-simple"
     ng-class="_methods.getMainClass();"
     id="{{ _cozenDropdownItemSimpleId }}"
     tabindex="{{ _methods.getTabIndex(); }}"
     ng-click="_methods.onClick.item($event);"
     onclick="this.blur();"
     ng-mousemove="_methods.onHover($event);">

    <div class="cozen-dropdown-item-simple-content left">

        <!-- Custom HTML left -->
        <div ng-if="_cozenDropdownItemSimpleCustomHtmlLeft != ''"
             class="cozen-dropdown-item-simple-custom-html left"
             cozen-compile="_cozenDropdownItemSimpleCustomHtmlLeft">
        </div>

        <!-- Left icon -->
        <div ng-if="_cozenDropdownItemSimpleIconLeft != ''"
             class="cozen-dropdown-item-simple-icon left">
            <i ng-class="[_cozenDropdownItemSimpleIconLeft]"></i>
        </div>

        <!-- Label -->
        <span class="cozen-dropdown-item-simple-label">
            {{ _cozenDropdownItemSimpleLabel | translate }}
            <small ng-if="_cozenDropdownItemSimpleSubLabel != ''">
                {{ _cozenDropdownItemSimpleSubLabel | translate }}
            </small>
        </span>

        <!-- Right icon -->
        <div ng-if="_cozenDropdownItemSimpleIconRight != ''"
             class="cozen-dropdown-item-simple-icon right">
            <i ng-class="[_cozenDropdownItemSimpleIconRight]"></i>
        </div>
    </div>

    <!-- Right icon -->
    <div ng-show="_cozenDropdownItemSimpleShowTick && cozenDropdownItemSimpleSelected"
         class="cozen-dropdown-item-simple-tick right">
        <i ng-class="[_cozenDropdownItemSimpleTickIcon]"></i>
    </div>
</div>

