<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-display="block">
                <cozen-btn cozen-btn-label="'Un label avec tooltip'"
                           cozen-btn-size-small
                           cozen-btn-type-default>
                </cozen-btn>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-placement="auto bottom"
                           cozen-tooltip-display="block">
                <cozen-btn cozen-btn-label="'Un label avec tooltip'"
                           cozen-btn-size-small
                           cozen-btn-type-default>
                </cozen-btn>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-body="false"
                           cozen-tooltip-display="block">
                <cozen-btn cozen-btn-label="'Un label avec tooltip'"
                           cozen-btn-size-small
                           cozen-btn-type-default>
                </cozen-btn>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-placement="auto bottom"
                           cozen-tooltip-disabled="true"
                           cozen-tooltip-display="block">
                <cozen-btn cozen-btn-label="'Un label avec tooltip'"
                           cozen-btn-size-small
                           cozen-btn-type-default>
                </cozen-btn>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-placement="auto top"
                           cozen-tooltip-display="block">
                <cozen-btn cozen-btn-label="'Un label avec tooltip'"
                           cozen-btn-size-small
                           cozen-btn-type-default>
                </cozen-btn>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-trigger="outsideClick"
                           cozen-tooltip-display="block">
                <cozen-btn cozen-btn-label="'Un label avec tooltip'"
                           cozen-btn-size-small
                           cozen-btn-type-default>
                </cozen-btn>
            </cozen-tooltip>
        </div>
    </div>
</div>
