<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-trigger="outsideClick"
                           cozen-tooltip-placement="top">
                <label>Click me !</label>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-trigger="outsideClick"
                           cozen-tooltip-placement="top-right">
                <label>Click me !</label>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-trigger="outsideClick"
                           cozen-tooltip-placement="right">
                <label>Click me !</label>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-trigger="outsideClick"
                           cozen-tooltip-placement="bottom-right">
                <label>Click me !</label>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-trigger="outsideClick"
                           cozen-tooltip-placement="bottom">
                <label>Click me !</label>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-trigger="outsideClick"
                           cozen-tooltip-placement="bottom-left">
                <label>Click me !</label>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-trigger="outsideClick"
                           cozen-tooltip-placement="left">
                <label>Click me !</label>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="'Un tooltip'"
                           cozen-tooltip-trigger="outsideClick"
                           cozen-tooltip-placement="top-left">
                <label>Click me !</label>
            </cozen-tooltip>
        </div>
    </div>
</div>
