<div ng-if="cozenTextareaHasParentKnowledge"
     class="cozen-textarea"
     ng-class="_methods.getMainClass()"
     id="{{ _cozenTextareaId }}">

    <!-- Label stuff -->
    <div ng-if="_cozenTextareaLabel != ''"
         class="cozen-textarea-label">

        <!-- Label -->
        <label for="{{ _cozenTextareaUuid }}"
               class="label">
            {{ _cozenTextareaLabel | translate }}
        </label>

        <!-- Required star -->
        <label ng-if="_cozenTextareaRequired && _cozenTextareaRequiredConfig.type == 'star'"
               class="required-star">
            *
        </label>

        <!-- Required icon -->
        <label ng-if="_cozenTextareaRequired && _cozenTextareaRequiredConfig.type == 'icon'"
               class="required-icon">
            <cozen-tooltip cozen-tooltip-label="_cozenTextareaRequiredTooltip"
                           cozen-tooltip-display="block"
                           cozen-tooltip-disabled="_cozenTextareaRequiredTooltip == ''">
                <i class="{{ _cozenTextareaRequiredConfig.icon }}"></i>
            </cozen-tooltip>
        </label>

        <!-- Model length -->
        <label ng-if="_cozenTextareaModelLengthType != 'never' && vm.cozenTextareaModel.length > 0"
               class="model-length"
               ng-show="_cozenTextareaModelLengthType == 'focus' && vm._cozenTextareaIsFocused"
               ng-class="{'error': _cozenTextareaModelLength < 0}">
            {{ _cozenTextareaModelLength }}
        </label>
    </div>

    <!-- Tooltip -->
    <cozen-tooltip cozen-tooltip-label="_cozenTextareaTooltip"
                   cozen-tooltip-trigger="{{ _cozenTextareaTooltipTrigger }}"
                   cozen-tooltip-display="block"
                   cozen-tooltip-type="{{ _cozenTextareaTooltipType }}"
                   cozen-tooltip-max-width="vm.cozenTextareaTooltipMaxWidth"
                   cozen-tooltip-placement="{{ _cozenTextareaTooltipPlacement }}"
                   cozen-tooltip-disabled="_cozenTextareaTooltip == ''">

        <!-- Textarea -->
        <textarea ng-model="vm.cozenTextareaModel"
                  ng-required="_cozenTextareaRequired"
                  ng-change="_methods.onChange($event);"
                  ng-disabled="vm.cozenTextareaDisabled"
                  placeholder="{{ _cozenTextareaPlaceholder | translate }}"
                  ng-minlength="_cozenTextareaMinLength"
                  ng-maxlength="_cozenTextareaMaxLength"
                  name="{{ _cozenTextareaName }}"
                  ng-model-options="{allowInvalid: true}"
                  msd-elastic
                  msd-elastic-disabled="{{ !_cozenTextareaElastic }}"
                  rows="{{ _cozenTextareaRows }}"
                  id="{{ _cozenTextareaUuid }}"
                  ng-focus="vm._cozenTextareaIsFocused = true"
                  ng-blur="vm._cozenTextareaIsFocused = false"
                  spellcheck="{{ _cozenTextareaSpellCheck }}">
        </textarea>
    </cozen-tooltip>
</div>
