/************/
/*   SIZE   */
/************/
.cozen-list-size(@padding) {
  div.cozen-list-item {
    padding: @padding;
  }
}
/**************/
/*   BORDER   */
/**************/
.cozen-list-hr(@margin, @max-width, @border-bottom) {
  hr {
    margin:        @margin;
    max-width:     @max-width;
    border-bottom: @border-bottom;
  }
}

