div.cozen-panel.tau {

    // Variables
    @cozen-panel-tau-height-small : 32px;
    @cozen-panel-tau-height-normal : 39px;
    @cozen-panel-tau-height-large : 48px;
    @cozen-panel-tau-border-size : 1px;

    // Size
    &.small {
        .cozen-panel-size(@cozen-space-small, @cozen-space-small, 16px, 400);
        .cozen-panel-icon(0 @cozen-space-small);
        .cozen-panel-big-icon(@cozen-panel-tau-height-small, @cozen-space-small);
    }
    &.normal {
        .cozen-panel-size(@cozen-space-small, @cozen-space-small, 20px, 400);
        .cozen-panel-icon(0 @cozen-space-normal);
        .cozen-panel-big-icon(@cozen-panel-tau-height-normal, @cozen-space-small);
    }
    &.large {
        .cozen-panel-size(@cozen-space-normal, @cozen-space-normal, 25px, 400);
        .cozen-panel-icon(0 @cozen-space-large);
        .cozen-panel-big-icon(@cozen-panel-tau-height-large, @cozen-space-small);
    }

    // Type
    &.default {
        .cozen-panel-type-header(@cozen-color-white, @cozen-color-white, @cozen-color-grey, @cozen-color-grey-hover);
        .cozen-panel-type-body(@cozen-color-background);
        .cozen-panel-border(@cozen-panel-tau-border-size, solid, @cozen-color-grey-hover, @cozen-color-grey-hover, @cozen-radius);
        .cozen-panel-big-icon-color-left(@cozen-color-white, @cozen-color-white, @cozen-color-orange, @cozen-color-orange-hover);
        .cozen-panel-big-icon-color-right(@cozen-color-white, @cozen-color-white, @cozen-color-red, @cozen-color-red-hover);
        .cozen-panel-sub-label(70%, @cozen-color-white, @cozen-color-white);
    }
    &.info {
        .cozen-panel-type-header(@cozen-color-white, @cozen-color-white, @cozen-color-blue, @cozen-color-blue-hover);
        .cozen-panel-type-body(@cozen-color-background);
        .cozen-panel-border(@cozen-panel-tau-border-size, solid, @cozen-color-blue-hover, @cozen-color-blue-hover, @cozen-radius);
        .cozen-panel-big-icon-color-left(@cozen-color-white, @cozen-color-white, @cozen-color-blue, @cozen-color-blue-hover);
        .cozen-panel-big-icon-color-right(@cozen-color-white, @cozen-color-white, @cozen-color-blue, @cozen-color-blue-hover);
        .cozen-panel-sub-label(70%, @cozen-color-white-hover, @cozen-color-white-hover);
    }
    &.success {
        .cozen-panel-type-header(@cozen-color-white, @cozen-color-white, @cozen-color-green, @cozen-color-green-hover);
        .cozen-panel-type-body(@cozen-color-background);
        .cozen-panel-border(@cozen-panel-tau-border-size, solid, @cozen-color-green-hover, @cozen-color-green-hover, @cozen-radius);
        .cozen-panel-big-icon-color-left(@cozen-color-white, @cozen-color-white, @cozen-color-green, @cozen-color-green-hover);
        .cozen-panel-big-icon-color-right(@cozen-color-white, @cozen-color-white, @cozen-color-green, @cozen-color-green-hover);
        .cozen-panel-sub-label(70%, @cozen-color-white-hover, @cozen-color-white-hover);
    }
    &.warning {
        .cozen-panel-type-header(@cozen-color-white, @cozen-color-white, @cozen-color-orange, @cozen-color-orange-hover);
        .cozen-panel-type-body(@cozen-color-background);
        .cozen-panel-border(@cozen-panel-tau-border-size, solid, @cozen-color-orange-hover, @cozen-color-orange-hover, @cozen-radius);
        .cozen-panel-big-icon-color-left(@cozen-color-white, @cozen-color-white, @cozen-color-orange, @cozen-color-orange-hover);
        .cozen-panel-big-icon-color-right(@cozen-color-white, @cozen-color-white, @cozen-color-orange, @cozen-color-orange-hover);
        .cozen-panel-sub-label(70%, @cozen-color-white-hover, @cozen-color-white-hover);
    }
    &.error {
        .cozen-panel-type-header(@cozen-color-white, @cozen-color-white, @cozen-color-red, @cozen-color-red-hover);
        .cozen-panel-type-body(@cozen-color-background);
        .cozen-panel-border(@cozen-panel-tau-border-size, solid, @cozen-color-red-hover, @cozen-color-red-hover, @cozen-radius);
        .cozen-panel-big-icon-color-left(@cozen-color-white, @cozen-color-white, @cozen-color-red, @cozen-color-red-hover);
        .cozen-panel-big-icon-color-right(@cozen-color-white, @cozen-color-white, @cozen-color-red, @cozen-color-red-hover);
        .cozen-panel-sub-label(70%, @cozen-color-white-hover, @cozen-color-white-hover);
    }
}