label.cozen-icon-info {
    transition     : @cozen-transition;
    box-sizing     : border-box;
    position       : relative;
    outline        : @cozen-outline;
    display        : inline-block;
    font-size      : inherit;
    cursor         : pointer;
    padding        : 0 5px !important;
    margin         : 0;
    vertical-align : middle;
    i {
        color          : inherit;
        font-size      : inherit;
        vertical-align : middle;
    }
}