<div ng-if="_isReady"
     class="cozen-list-item cozen-list-item-simple"
     ng-class="_methods.getMainClass();"
     id="{{ _cozenListItemSimpleId }}"
     tabindex="{{ _methods.getTabIndex(); }}"
     ng-click="_methods.onClick.item($event)"
     ng-mousemove="_methods.onHover($event)">

    <div class="cozen-list-item-simple-content left">

        <!-- Left icon -->
        <div ng-if="_cozenListItemSimpleIconLeft != ''"
             class="cozen-list-item-simple-icon left">
            <i ng-class="[_cozenListItemSimpleIconLeft]"></i>
        </div>

        <!-- Label -->
        <span class="cozen-list-item-simple-label">
            {{ _cozenListItemSimpleLabel | translate }}
            <small ng-if="_cozenListItemSimpleSubLabel != ''">
                {{ _cozenListItemSimpleSubLabel | translate }}
            </small>
        </span>
    </div>

    <div ng-if="cozenListItemSimpleBtnRight"
         class="cozen-list-item-simple-content right">

        <!-- Btn -->
        <cozen-tooltip cozen-tooltip-label="{{ _cozenListItemSimpleBtnRightTooltip }}"
                       cozen-tooltip-disabled="_cozenListItemSimpleBtnRightTooltip == ''">
            <div ng-click="_methods.onClick.btnRight($event)"
                 class="cozen-list-item-simple-btn">
                <i ng-class="[_cozenListItemSimpleBtnRightIcon]"></i>
                <span>{{ _cozenListItemSimpleBtnRightLabel }}</span>
            </div>
        </cozen-tooltip>
    </div>
</div>

