<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-small
                             cozen-panel-type-default>
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-normal
                             cozen-panel-type-info>
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-large
                             cozen-panel-type-success>
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-large
                             cozen-panel-type-warning>
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-large
                             cozen-panel-type-error>
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-small
                             cozen-panel-type-default
                             cozen-panel-disabled="true">
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-small
                             cozen-panel-type-default
                             cozen-panel-icon-left="fa fa-times">
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-small
                             cozen-panel-type-default
                             cozen-panel-icon-right="fa fa-times">
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-small
                             cozen-panel-type-default
                             cozen-panel-big-icon-left="fa fa-user-circle-o">
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-small
                             cozen-panel-type-default
                             cozen-panel-big-icon-right="fa fa-times-circle-o">
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
            <div class="col-xs-12">
                <cozen-panel cozen-panel-label="Un label"
                             cozen-panel-size-small
                             cozen-panel-type-default
                             cozen-panel-big-icon-left="fa fa-user-circle-o"
                             cozen-panel-icon-left="fa fa-times"
                             cozen-panel-icon-right="fa fa-times"
                             cozen-panel-big-icon-right="fa fa-times-circle-o">
                    <p>gergergerger</p>
                </cozen-panel>
            </div>
        </div>
    </div>
</div>
