<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <cozen-list cozen-list-size-small>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"></cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-icon-left="fa fa-plus">
                </cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-sub-label="avec un sous label"
                                        cozen-list-item-simple-icon-left="fa fa-plus">
                </cozen-list-item-simple>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list cozen-list-size-normal>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"></cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-icon-left="fa fa-plus">
                </cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-sub-label="avec un sous label"
                                        cozen-list-item-simple-icon-left="fa fa-plus">
                </cozen-list-item-simple>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list cozen-list-size-large>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"></cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-icon-left="fa fa-plus">
                </cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-sub-label="avec un sous label"
                                        cozen-list-item-simple-icon-left="fa fa-plus">
                </cozen-list-item-simple>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-disabled="true">
                </cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-on-click="console.log('lol');">
                </cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-btn-right="true"
                                        cozen-list-item-simple-btn-right-icon="fa fa-plus"
                                        cozen-list-item-simple-btn-right-tooltip="Je suis un tooltip !"
                                        cozen-list-item-simple-btn-right-on-click="lol">
                </cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-btn-right="true"
                                        cozen-list-item-simple-btn-right-icon="fa fa-plus"
                                        cozen-list-item-simple-btn-right-tooltip="Je suis un tooltip !"
                                        cozen-list-item-simple-btn-right-on-click="lol"
                                        cozen-list-item-simple-btn-right-label="Hello">
                </cozen-list-item-simple>
                <cozen-list-item-simple cozen-list-item-simple-label="Un label"
                                        cozen-list-item-simple-btn-right="true"
                                        cozen-list-item-simple-btn-right-on-click="lol"
                                        cozen-list-item-simple-btn-right-label="Hello">
                </cozen-list-item-simple>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list cozen-list-size-small>
                <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                        cozen-list-item-media3-label="Un texte explicatif secondaire"
                                        cozen-list-item-media3-sub-label="Un autre texte pas très important">
                </cozen-list-item-media3>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list cozen-list-size-normal>
                <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                        cozen-list-item-media3-label="Un texte explicatif secondaire"
                                        cozen-list-item-media3-sub-label="Un autre texte pas très important">
                </cozen-list-item-media3>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list cozen-list-size-large>
                <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                        cozen-list-item-media3-label="Un texte explicatif secondaire"
                                        cozen-list-item-media3-sub-label="Un autre texte pas très important">
                </cozen-list-item-media3>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list>
                <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                        cozen-list-item-media3-label="Un texte explicatif secondaire"
                                        cozen-list-item-media3-sub-label="Un autre texte pas très important"
                                        cozen-list-item-media3-disabled="true">
                </cozen-list-item-media3>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list cozen-list-size-small>
                <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                        cozen-list-item-media3-label="Un texte explicatif secondaire"
                                        cozen-list-item-media3-sub-label="Un autre texte pas très important"
                                        cozen-list-item-media3-media="../examples/ressources/images/Atom-Editor-96.png">
                </cozen-list-item-media3>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list>
                <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                        cozen-list-item-media3-label="Un texte explicatif secondaire"
                                        cozen-list-item-media3-sub-label="Un autre texte pas très important"
                                        cozen-list-item-media3-media="../examples/ressources/images/Atom-Editor-96.png">
                </cozen-list-item-media3>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list cozen-list-size-large>
                <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                        cozen-list-item-media3-label="Un texte explicatif secondaire"
                                        cozen-list-item-media3-sub-label="Un autre texte pas très important"
                                        cozen-list-item-media3-media="../examples/ressources/images/Atom-Editor-96.png">
                </cozen-list-item-media3>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list>
                <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                        cozen-list-item-media3-label="Un texte explicatif secondaire"
                                        cozen-list-item-media3-sub-label="Un autre texte pas très important"
                                        cozen-list-item-media3-media="../examples/ressources/images/Atom-Editor-96.png"
                                        cozen-list-item-media3-on-click="zezef">
                </cozen-list-item-media3>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list cozen-list-size-small>
                <div ng-repeat="x in [0, 1, 2, 3]">
                    <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                            cozen-list-item-media3-label="Un texte explicatif secondaire"
                                            cozen-list-item-media3-sub-label="Un autre texte pas très important"
                                            cozen-list-item-media3-media="../examples/ressources/images/Atom-Editor-96.png"
                                            cozen-list-item-media3-on-click="vm.onClick($index)">
                    </cozen-list-item-media3>
                </div>
            </cozen-list>
        </div>
        <div class="col-xs-12">
            <cozen-list cozen-list-size-small>
                <div ng-repeat="x in [0, 1, 2, 3]">
                    <cozen-list-item-media3 cozen-list-item-media3-header="Un titre principal"
                                            cozen-list-item-media3-label="Un texte explicatif secondaire"
                                            cozen-list-item-media3-sub-label="Un autre texte pas très important"
                                            cozen-list-item-media3-media="../examples/ressources/images/Atom-Editor-96.png"
                                            cozen-list-item-media3-disabled="true"
                                            cozen-list-item-media3-on-click="vm.onClick($index)">
                    </cozen-list-item-media3>
                </div>
            </cozen-list>
        </div>
    </div>
</div>
