<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"></cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-display="false">
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-size-small>
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-size-large>
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-type-info>
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-type-success>
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-type-warning>
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-type-error>
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <button ng-click="vm.display1 = !vm.display1">Toggle display</button>
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-display="vm.display1">
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <button ng-click="vm.display2 = !vm.display2">Toggle display</button>
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-display="vm.display2"
                         cozen-alert-animation-in="false"
                         cozen-alert-animation-out="false">
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-close-btn="false">
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-close-btn-tooltip="false">
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-text-align="center">
            </cozen-alert>
        </div>
        <div class="col-xs-12">
            <cozen-alert cozen-alert-label="Une alerte classique"
                         cozen-alert-icon-left="fa fa-times">
            </cozen-alert>
        </div>
    </div>
</div>