<div class="container">
  <div class="row tau">
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="vm.model1"></cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="vm.model1"
                        cozen-btn-toggle-label="Model 1">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="vm.model2"
                        cozen-btn-toggle-label="Model 2">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="vm.model3"
                        cozen-btn-toggle-label="Model 3">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="false"
                        cozen-btn-toggle-disabled="true"
                        cozen-btn-toggle-label="Disabled">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="true"
                        cozen-btn-toggle-disabled="true"
                        cozen-btn-toggle-label="Disabled">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="false"
                        cozen-btn-toggle-size-small
                        cozen-btn-toggle-label="Small">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="false"
                        cozen-btn-toggle-size-large
                        cozen-btn-toggle-label="Large">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="false"
                        cozen-btn-toggle-animation="false"
                        cozen-btn-toggle-label="In/out false">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-id="test-toggle"
                        cozen-btn-toggle-model="false"
                        cozen-btn-toggle-label="My label"
                        cozen-btn-toggle-size-small>
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-id="test-toggle"
                        cozen-btn-toggle-model="false"
                        cozen-btn-toggle-label="My label">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-id="test-toggle"
                        cozen-btn-toggle-model="false"
                        cozen-btn-toggle-label="My label"
                        cozen-btn-toggle-size-large>
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-id="test-toggle"
                        cozen-btn-toggle-model="true"
                        cozen-btn-toggle-label="My label"
                        cozen-btn-toggle-size-small
                        cozen-btn-toggle-animation="false">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-id="test-toggle"
                        cozen-btn-toggle-model="false"
                        cozen-btn-toggle-label="My label"
                        cozen-btn-toggle-animation="false">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-id="test-toggle"
                        cozen-btn-toggle-model="false"
                        cozen-btn-toggle-label="My label"
                        cozen-btn-toggle-size-large
                        cozen-btn-toggle-animation="false">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="false"
                        cozen-btn-toggle-label="My label"
                        cozen-btn-toggle-tooltip="Un tooltip !">
      </cozen-btn-toggle>
    </div>
    <div class="col-xs-12">
      <cozen-btn-toggle cozen-btn-toggle-model="false"
                        cozen-btn-toggle-label="My label"
                        cozen-btn-toggle-start-right="false">
      </cozen-btn-toggle>
    </div>
  </div>
</div>
