/************/
/*   SIZE   */
/************/
.cozen-input-size(@padding, @font-size) {
  font-size: @font-size;
  div.cozen-input-content {
    input {
      padding: @padding;
    }
  }
}
/*************/
/*   COLOR   */
/*************/
.cozen-input-color(@color, @color-hover, @background-color, @background-color-hover) {
  color:            @color;
  background-color: @background-color;
  &:hover {
    background-color: @background-color-hover;
  }
  div.cozen-input-content {
    input {
      &:focus {
        background-color: @background-color-hover;
      }
    }
  }
  &.disabled {
    &:hover {
      background-color: @background-color;
    }
    div.cozen-input-content {
      input {
        &:focus {
          background-color: @background-color;
        }
      }
    }
  }
}
/**************/
/*   BORDER   */
/**************/
.cozen-input-border(@size, @type, @color, @color-hover) {
  div.cozen-input-content {
    input {
      border: @size @type @color;
      &:focus {
        border: @size @type @color-hover;
      }
    }
  }
  &:hover {
    div.cozen-input-content {
      input {
        border: @size @type @color-hover;
      }
    }
  }
  &.disabled {
    div.cozen-input-content {
      input {
        &:focus {
          border: @size @type @color;
        }
      }
    }
    &:hover {
      div.cozen-input-content {
        input {
          border: @size @type @color;
        }
      }
    }
  }
}
/*******************/
/*   PLACEHOLDER   */
/*******************/
.cozen-input-placeholder(@color, @color-hover) {
  div.cozen-input-content {
    input {
      &::-webkit-input-placeholder {
        color: @color;
      }
      &::-moz-placeholder {
        color: @color;
      }
      &:-ms-input-placeholder {
        color: @color;
      }
      &:-moz-placeholder {
        color: @color;
      }
      &:focus {
        &::-webkit-input-placeholder {
          color: @color-hover;
        }
        &::-moz-placeholder {
          color: @color-hover;
        }
        &:-ms-input-placeholder {
          color: @color-hover;
        }
        &:-moz-placeholder {
          color: @color-hover;
        }
      }
    }
  }
  &:hover {
    div.cozen-input-content {
      input {
        &::-webkit-input-placeholder {
          color: @color-hover;
        }
        &::-moz-placeholder {
          color: @color-hover;
        }
        &:-ms-input-placeholder {
          color: @color-hover;
        }
        &:-moz-placeholder {
          color: @color-hover;
        }
      }
    }
  }
  .disable {
    div.cozen-input-content {
      input {
        &:focus {
          &::-webkit-input-placeholder {
            color: @color;
          }
          &::-moz-placeholder {
            color: @color;
          }
          &:-ms-input-placeholder {
            color: @color;
          }
          &:-moz-placeholder {
            color: @color;
          }
        }
      }
    }
    &:hover {
      div.cozen-input-content {
        input {
          &::-webkit-input-placeholder {
            color: @color;
          }
          &::-moz-placeholder {
            color: @color;
          }
          &:-ms-input-placeholder {
            color: @color;
          }
          &:-moz-placeholder {
            color: @color;
          }
        }
      }
    }
  }
}
/************/
/*   ICON   */
/************/
.cozen-input-icon(@padding, @font-size) {
  & div.cozen-input-content {
    & div.cozen-input-icon {
      padding: 0 @padding;
    }
  }
  &.icon-left {
    & div.cozen-input-content {
      input {
        padding-left: @padding * 2 + @font-size;
      }
    }
  }
  &.icon-right {
    & div.cozen-input-content {
      input {
        padding-right: @padding * 2 + @font-size;
      }
    }
  }
}
