<div class="container">
    <div class="row tau">
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="vm.model1"
                             cozen-btn-check-label="Model 1">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="vm.model2"
                             cozen-btn-check-label="Model 2">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="vm.model3"
                             cozen-btn-check-label="Model 3">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="false"
                             cozen-btn-check-disabled="true"
                             cozen-btn-check-label="Disabled">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="false"
                             cozen-btn-check-size-small
                             cozen-btn-check-label="Small">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="false"
                             cozen-btn-check-size-large
                             cozen-btn-check-label="Large">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-tooltip cozen-tooltip-label="Un tooltip !">
                <cozen-btn-check cozen-btn-check-model="false"
                                 cozen-btn-check-label="Tooltip">
                </cozen-btn-check>
            </cozen-tooltip>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="false"
                             cozen-btn-check-animation-in="false"
                             cozen-btn-check-animation-out="false"
                             cozen-btn-check-label="In/out false">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="false"
                             cozen-btn-check-animation-in="false"
                             cozen-btn-check-label="In false">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="false"
                             cozen-btn-check-animation-out="false"
                             cozen-btn-check-label="out false">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-id="test-check"
                             cozen-btn-check-model="false"
                             cozen-btn-check-label="My label"
                             cozen-btn-check-size-small>
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-id="test-check"
                             cozen-btn-check-model="false"
                             cozen-btn-check-label="My label">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-id="test-check"
                             cozen-btn-check-model="false"
                             cozen-btn-check-label="My label"
                             cozen-btn-check-size-large>
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-id="test-check"
                             cozen-btn-check-model="true"
                             cozen-btn-check-label="My label"
                             cozen-btn-check-size-small
                             cozen-btn-check-animation-in="false"
                             cozen-btn-check-animation-out="false">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-id="test-check"
                             cozen-btn-check-model="false"
                             cozen-btn-check-label="My label"
                             cozen-btn-check-animation-in="false"
                             cozen-btn-check-animation-out="false">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-id="test-check"
                             cozen-btn-check-model="false"
                             cozen-btn-check-label="My label"
                             cozen-btn-check-size-large
                             cozen-btn-check-animation-in="false"
                             cozen-btn-check-animation-out="false">
            </cozen-btn-check>
        </div>
        <div class="col-xs-12">
            <cozen-btn-check cozen-btn-check-model="false"
                             cozen-btn-check-label="My label"
                             cozen-btn-check-tooltip="Un tooltip !">
            </cozen-btn-check>
        </div>
    </div>
</div>
