/*************/
/*   COLOR   */
/*************/
.cozen-tooltip-color(@color, @background-color, @arrow-color, @border, @shadow, @opacity) {
  &.tooltip.top .tooltip-arrow {
    border-top-color: @arrow-color;
  }
  &.tooltip.top-left .tooltip-arrow {
    border-top-color: @arrow-color;
  }
  &.tooltip.top-right .tooltip-arrow {
    border-top-color: @arrow-color;
  }
  &.tooltip.right .tooltip-arrow {
    left:               1px;
    border-right-color: @arrow-color;
  }
  &.tooltip.left .tooltip-arrow {
    border-left-color: @arrow-color;
  }
  &.tooltip.bottom .tooltip-arrow {
    border-bottom-color: @arrow-color;
  }
  &.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: @arrow-color;
  }
  &.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: @arrow-color;
  }
  &.tooltip > .tooltip-inner {
    background-color: @background-color;
    color:            @color;
    border:           @border;
    box-shadow:       @shadow;
  }
  &.tooltip {
    opacity: @opacity;
  }
}
/************/
/*   FONT   */
/************/
.cozen-tooltip-font(@size, @weight) {
  &.tooltip {
    font-size:   @size;
    font-weight: @weight;
  }
}
/************/
/*   SIZE   */
/************/
.cozen-tooltip-size(@padding, @max-width) {
  &.tooltip {
    padding:   @padding;
    max-width: @max-width;
  }
}
