<div ng-if="_isReady"
     class="cozen-tooltip"
     ng-class="_methods.getMainClass();">

    <!-- Default -->
    <div ng-if="_cozenTooltipType == 'default'"
         class="cozen-tooltip-default"
         uib-tooltip="{{ _cozenTooltipLabel | translate }}"
         tooltip-placement="{{ _cozenTooltipPlacement }}"
         tooltip-append-to-body="{{ _cozenTooltipBody }}"
         tooltip-popup-close-delay="{{ _cozenTooltipCloseDelay }}"
         tooltip-popup-delay="{{ _cozenTooltipDelay }}"
         tooltip-trigger="'{{ _cozenTooltipTrigger }}'"
         tooltip-enable="{{ !cozenTooltipDisabled }}"
         ng-transclude>
    </div>

    <!-- HTML -->
    <div ng-if="_cozenTooltipType == 'html'"
         class="cozen-tooltip-html"
         uib-tooltip-html="{{ _cozenTooltipLabel }}"
         tooltip-placement="{{ _cozenTooltipPlacement }}"
         tooltip-append-to-body="{{ _cozenTooltipBody }}"
         tooltip-popup-close-delay="{{ _cozenTooltipCloseDelay }}"
         tooltip-popup-delay="{{ _cozenTooltipDelay }}"
         tooltip-trigger="'{{ _cozenTooltipTrigger }}'"
         tooltip-enable="{{ !cozenTooltipDisabled }}"
         ng-transclude>
    </div>
</div>

