/*************/
/*   COLOR   */
/*************/
.cozen-tooltip-color(@color, @background-color) {
  .tooltip.top .tooltip-arrow {
    border-top-color: @background-color;
  }
  .tooltip.top-left .tooltip-arrow {
    border-top-color: @background-color;
  }
  .tooltip.top-right .tooltip-arrow {
    border-top-color: @background-color;
  }
  .tooltip.right .tooltip-arrow {
    border-right-color: @background-color;
  }
  .tooltip.left .tooltip-arrow {
    border-left-color: @background-color;
  }
  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: @background-color;
  }
  .tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: @background-color;
  }
  .tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: @background-color;
  }
  .tooltip > .tooltip-inner {
    background-color: @background-color;
    color:            @color;
  }
}
/************/
/*   FONT   */
/************/
.cozen-tooltip-font(@size, @weight) {
  .tooltip {
    font-size:   @size;
    font-weight: @weight;
  }
}
/************/
/*   SIZE   */
/************/
.cozen-tooltip-size(@padding, @max-width) {
  .tooltip {
    padding:   @padding;
    max-width: @max-width;
  }
}
