<div class="container">
  <div class="row">
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-size-small-->
    <!--cozen-pagination-total-elements="10">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-size-normal-->
    <!--cozen-pagination-total-elements="10">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-size-large-->
    <!--cozen-pagination-total-elements="10">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-disabled="true"-->
    <!--cozen-pagination-total-elements="10">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-first="false"-->
    <!--cozen-pagination-previous="false"-->
    <!--cozen-pagination-next="false"-->
    <!--cozen-pagination-last="false"-->
    <!--cozen-pagination-total-elements="10">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-limit-per-page="10"-->
    <!--cozen-pagination-total-elements="100">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-limit-per-page="10"-->
    <!--cozen-pagination-max-page="3"-->
    <!--cozen-pagination-total-elements="100">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-limit-per-page="10"-->
    <!--cozen-pagination-max-page="49"-->
    <!--cozen-pagination-total-elements="100">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-limit-per-page="10"-->
    <!--cozen-pagination-total-elements="1000">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-auto-hide="true"-->
    <!--cozen-pagination-total-elements="10">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <!--<div class="col-xs-12">-->
    <!--<cozen-pagination cozen-pagination-model="1"-->
    <!--cozen-pagination-auto-hide="true"-->
    <!--cozen-pagination-total-elements="60">-->
    <!--</cozen-pagination>-->
    <!--</div>-->
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="1">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="2">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="3">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="4">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="5">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="50">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="49">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="48">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="47">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="46">
      </cozen-pagination>
    </div>
    <div class="col-xs-12">
      <cozen-pagination cozen-pagination-model="1"
                        cozen-pagination-limit-per-page="1"
                        cozen-pagination-total-elements="45">
      </cozen-pagination>
    </div>
  </div>
</div>
