<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <cozen-pagination cozen-pagination-model="1"
                              cozen-pagination-size-small
                              cozen-pagination-total-elements="10">
            </cozen-pagination>
        </div>
        <div class="col-xs-12">
            <cozen-pagination cozen-pagination-model="1"
                              cozen-pagination-size-normal
                              cozen-pagination-total-elements="10">
            </cozen-pagination>
        </div>
        <div class="col-xs-12">
            <cozen-pagination cozen-pagination-model="1"
                              cozen-pagination-size-large
                              cozen-pagination-total-elements="10">
            </cozen-pagination>
        </div>
        <div class="col-xs-12">
            <cozen-pagination cozen-pagination-model="1"
                              cozen-pagination-disabled="true"
                              cozen-pagination-total-elements="10">
            </cozen-pagination>
        </div>
        <div class="col-xs-12">
            <cozen-pagination cozen-pagination-model="1"
                              cozen-pagination-first="false"
                              cozen-pagination-previous="false"
                              cozen-pagination-next="false"
                              cozen-pagination-last="false"
                              cozen-pagination-total-elements="10">
            </cozen-pagination>
        </div>
        <div class="col-xs-12">
            <cozen-pagination cozen-pagination-model="1"
                              cozen-pagination-limit-per-page="10"
                              cozen-pagination-total-elements="100">
            </cozen-pagination>
        </div>
        <div class="col-xs-12">
            <cozen-pagination cozen-pagination-model="1"
                              cozen-pagination-limit-per-page="10"
                              cozen-pagination-max-page="50"
                              cozen-pagination-total-elements="100">
            </cozen-pagination>
        </div>
        <div class="col-xs-12">
            <cozen-pagination cozen-pagination-model="1"
                              cozen-pagination-limit-per-page="10"
                              cozen-pagination-total-elements="1000">
            </cozen-pagination>
        </div>
    </div>
</div>
