<div ng-if="_isReady && cozenPopupIsOpen"
     class="cozen-popup"
     ng-class="_methods.getMainClass();"
     id="{{ _cozenPopupId }}">

    <div class="cozen-popup-container"
         ng-mouseenter="_methods.onEnter();"
         ng-mouseleave="_methods.onLeave();"
         ng-class="_methods.getPopupClass();">

        <!-- Header -->
        <div ng-if="_cozenPopupHeader"
             class="cozen-popup-header">

            <!-- Img left -->
            <div ng-if="_cozenPopupHeaderPictoLeft != ''"
                 class="cozen-popup-header-img left">
                <img ng-src="{{ _cozenPopupHeaderPictoLeft }}">
            </div>

            <!-- Title -->
            <div class="cozen-popup-header-title">
                <span ng-if="_cozenPopupHeaderTitle != ''"
                      class="title">
                    {{ _cozenPopupHeaderTitle | translate }}
                </span>
                <span ng-if="_cozenPopupHeaderSubTitle != ''"
                      class="sub-title">
                    {{ _cozenPopupHeaderSubTitle | translate }}
                </span>
            </div>

            <!-- Close btn -->
            <div ng-if="_cozenPopupCloseBtn"
                 ng-click="_methods.hide(null, {name: _cozenPopupName});"
                 class="cozen-popup-header-close"
                 cozen-tooltip
                 cozen-tooltip-label="'popup_close'">
                <i class="fa fa-times"></i>
            </div>
        </div>

        <!-- Body -->
        <div class="cozen-popup-body">
            <div class="ng-transclude"></div>
        </div>

        <!-- Footer -->
        <div ng-if="_cozenPopupFooter"
             class="cozen-popup-footer">
        </div>
    </div>
</div>
