/**************/
/*   COLORS   */
/**************/
@cozen-color-title: #333333;
@cozen-color-title-hover: #333333;

@cozen-color-subtitle: #333333;
@cozen-color-subtitle-hover: #333333;

@cozen-color-label: #333333;
@cozen-color-label-hover: #333333;

@cozen-color-background: #ffffff;
@cozen-color-background-hover: #ffffff;

@cozen-color-container: #eeeeee;
@cozen-color-container-hover: #eeeeee;

@cozen-color-hr: #cccccc;

@cozen-color-border: #dddddd;

@cozen-color-white: #ecf0f1;
@cozen-color-blue: #3498db;
@cozen-color-green: #2ecc71;
@cozen-color-red: #e74c3c;
@cozen-color-orange: #e67e22;
@cozen-color-black: #34495e;
@cozen-color-purple: #9b59b6;
@cozen-color-yellow: #f1c40f;
@cozen-color-grey: #95a5a6;
@cozen-color-turquoise: #1abc9c;

@cozen-color-white-hover: #bdc3c7;
@cozen-color-blue-hover: #2980b9;
@cozen-color-green-hover: #27ae60;
@cozen-color-red-hover: #c0392b;
@cozen-color-orange-hover: #d35400;
@cozen-color-black-hover: #2c3e50;
@cozen-color-purple-hover: #8e44ad;
@cozen-color-yellow-hover: #f39c12;
@cozen-color-grey-hover: #7f8c8d;
@cozen-color-turquoise-hover: #16a085;

/**************/
/*   SPACES   */
/**************/
@cozen-space-extra-small: 2px;
@cozen-space-small: 4px;
@cozen-space-normal: 8px;
@cozen-space-large: 16px;
@cozen-space-extra-large: 32px;

/**************/
/*   FAMILY   */
/**************/
@import url(https://fonts.googleapis.com/css?family=Hind:500);

@cozen-family-h1: 'Hind', Arial, sans-serif;
@cozen-family-h2: 'Hind', Arial, sans-serif;
@cozen-family-h3: 'Hind', Arial, sans-serif;
@cozen-family-h4: 'Hind', Arial, sans-serif;
@cozen-family-p: 'Hind', Arial, sans-serif;
@cozen-family-label: 'Hind', Arial, sans-serif;
@cozen-family-span: 'Hind', Arial, sans-serif;

/************/
/*   FONT   */
/************/
@cozen-font-h1: 40px;
@cozen-font-h2: 28px;
@cozen-font-h3: 22px;
@cozen-font-h4: 18px;
@cozen-font-p: 16px;
@cozen-font-label-small: 14px;
@cozen-font-label: 16px;
@cozen-font-label-large: 19px;
@cozen-font-span: 16px;

@cozen-font-extra-small: 10px;
@cozen-font-small: 12px;
@cozen-font-normal: 14px;
@cozen-font-large: 16px;
@cozen-font-extra-large: 18px;

